@tailwind base;
@tailwind components;
@tailwind utilities;

.tw-checked-radio-label {
 @apply tw-bg-green-50 tw-text-green-600;
}

.tw-arrow-down {
 @apply tw-h-0 tw-w-0 tw-border-[6px] tw-border-b-0 tw-border-x-transparent tw-border-t-gray-400;
}

.tw-arrow-up {
 @apply tw-h-0 tw-w-0 tw-border-t-0 tw-border-x-transparent;
}

.tw-selected-tab {
 @apply tw-border-b-green-600 tw-text-green-600;
}

.tw-selected-option {
 @apply tw-border-green-600 tw-bg-green-50 tw-text-green-600;
}

.tw-shadow-custom {
 box-shadow: 0 0 8px -3px black;
}

.tw-checked-option {
 @apply tw-border-green-600 tw-bg-green-50 tw-text-green-600;
}

.tw-nested-dropdown-style {
 @apply tw-shadow-custom tw-absolute tw-left-full tw-top-0 tw-z-10 tw-flex tw-max-h-60 tw-flex-col tw-overflow-scroll tw-overflow-x-hidden tw-rounded-lg tw-bg-white tw-px-3;
}

/* #SELECT_FIRST_CONTAINER {
 filter: drop-shadow(0 0 2px black);
} */

/* #SELECT_FIRST_DROPDOWN {
 clip-path: polygon(0 100%, 100% 100%, 100% 8px, calc(100% - 12px) 8px, calc(100% - 20px) 0, calc(100% - 28px) 8px, 0% 8px);
} */

/* #SELECT_FIRST_DROPDOWN {
 clip-path: url(#shape);
} */

/* DD animations */

/* #SELECT_FIRST_DROPDOWN {
 transition: .4s linear, width 0s;
}

#SELECT_FIRST_CHEVRON {
 transition: .4s linear;
} */
