@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-haver {
 background-image: url("../assets/JPEG 1280x720 (5).jpeg");
}

.checked-radio-label {
 @apply bg-green-50 font-semibold text-green-600;
}

.arrow-down {
 @apply h-0 w-0 border-[6px] border-b-0 border-x-transparent border-t-gray-400;
}

.arrow-up {
 @apply h-0 w-0 border-t-0 border-x-transparent;
}

.selected-tab {
 @apply border-b-green-600 text-green-600;
}

.selected-option {
 @apply border-green-600 bg-green-50 font-semibold text-green-600;
}

/* #SELECT_FIRST_CONTAINER {
 filter: drop-shadow(0 0 2px black);
} */

/* #SELECT_FIRST_DROPDOWN {
 clip-path: polygon(0 100%, 100% 100%, 100% 8px, calc(100% - 12px) 8px, calc(100% - 20px) 0, calc(100% - 28px) 8px, 0% 8px);
} */

/* #SELECT_FIRST_DROPDOWN {
 clip-path: url(#2);
} */

/* DD animations */

/* #SELECT_FIRST_DROPDOWN {
 transition: .4s linear, width 0s;
}

#SELECT_FIRST_CHEVRON {
 transition: .4s linear;
} */