@tailwind base;
@tailwind components;
@tailwind utilities;

.tw-checked-radio-label {
 @apply tw-bg-green-50 tw-text-green-600;
}

.tw-arrow-down {
 @apply tw-h-0 tw-w-0 tw-border-[6px] tw-border-b-0 tw-border-x-transparent tw-border-t-gray-400;
}

.tw-arrow-up {
 @apply tw-h-0 tw-w-0 tw-border-t-0 tw-border-x-transparent;
}

.tw-selected-tab {
 @apply tw-border-b-green-600 tw-text-green-600;
}

.tw-selected-option {
 @apply tw-border-green-600 tw-bg-green-50 tw-text-green-600;
}

.tw-shadow-custom {
 box-shadow: 0 0 8px -3px black;
}

.tw-checked-option {
 @apply tw-border-green-600 tw-bg-green-50 tw-text-green-600;
}

.tw-nested-dropdown-style {
 @apply tw-shadow-custom tw-absolute tw-left-full tw-top-0 tw-z-10 tw-flex tw-max-h-60 tw-flex-col tw-overflow-scroll tw-overflow-x-hidden tw-rounded-lg tw-bg-white tw-px-3;
}

.tw-ff-radio {
 @apply tw-invisible tw-absolute tw-h-0 tw-w-0;
}

.tw-ff-radio-label {
 @apply tw-flex tw-flex-grow tw-cursor-pointer tw-select-none tw-items-center tw-justify-center tw-rounded-md tw-p-2 sm:tw-p-0;
}

.tw-ff-select {
 @apply tw-flex tw-cursor-pointer tw-select-none tw-justify-between tw-rounded-md tw-bg-white tw-px-4 tw-py-3;
}

.tw-ff-dd {
 @apply tw-shadow-custom tw-absolute tw-top-full tw-z-10 tw-mt-3 tw-flex tw-min-w-60 tw-flex-col tw-gap-6 tw-rounded-lg tw-bg-white tw-p-3 sm:tw-w-[325px];
}

.tw-ff-tab-option {
 @apply tw-col-span-1 tw-cursor-pointer tw-select-none tw-rounded-md tw-rounded-l-full tw-rounded-r-full tw-border tw-px-2 tw-py-1 tw-text-center tw-text-sm;
}

.tw-ff-check-option {
 @apply tw-cursor-pointer tw-select-none tw-rounded-md tw-rounded-l-full tw-rounded-r-full tw-border tw-px-4 tw-py-1 tw-text-center tw-text-sm;
}

#filter-form label {
 margin: 0;
}

#filter-form a:hover {
 color: unset;
 text-decoration: unset;
}

/* #category-select-container {
 filter: drop-shadow(0 0 2px black);
} */

/* #category-select-dropdown {
 clip-path: polygon(0 100%, 100% 100%, 100% 8px, calc(100% - 12px) 8px, calc(100% - 20px) 0, calc(100% - 28px) 8px, 0% 8px);
} */

/* #category-select-dropdown {
 clip-path: url(#shape);
} */

/* DD animations */

/* #category-select-dropdown {
 transition: .4s linear, width 0s;
}

#category-select-chevron {
 transition: .4s linear;
} */
